@inject IHostEnvironment env
@using site.Classes

<!DOCTYPE html>
<html
	lang="en"
	data-theme="dark"
	data-server-path="@Url.GetTopLevel(Context)"
	data-test-mode="@env.IsDevelopment()">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spotify Organiser</title>

		<link rel="icon" href="~/images/spotify.png" type="image/png" />

		<script asp-asp-append-version="true" type="text/javascript" src="js/preload-handler.js"></script>
		<link rel="stylesheet" href="css/auxilium.css" />
		<link rel="stylesheet" href="css/site.min.css" />
	</head>
	<body>
		<chip-frame restrict-height>
			<chip-frameheader>
				<div class="h-align gap-md">
					<img
						height="24"
						width="24"
						src="~/images/spotify.png"
						alt="Logo" />
					<chip-header
						size="2">
						Spotify Organiser
					</chip-header>
				</div>
			</chip-frameheader>

			<chip-framecontent>@RenderBody()</chip-framecontent>
		</chip-frame>

		<script asp-asp-append-version="true" type="text/javascript" src="js/auxilium.min.js"></script>
		<script asp-asp-append-version="true" type="text/javascript" src="js/site.js"></script>
	</body>
</html>