<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>

		<script asp-asp-append-version="true" type="text/javascript" src="js/preload-handler.js"></script>
		<link rel="stylesheet" href="css/auxilium.css" />
	</head>
	<body>
		<chip-frame>
			<chip-framecontent>@RenderBody()</chip-framecontent>
		</chip-frame>

		<script asp-asp-append-version="true" type="text/javascript" src="js/auxilium.min.js"></script>
	</body>
</html>