@page
@model site.Pages.IndexModel

@if (string.IsNullOrWhiteSpace(Model.User.ID))
{
	<div class="connect--box">
		<div class="d-flex flex-column">
			<img src="~/images/spotify.png" alt="Spotify Logo" />

			<chip-emptyprompt
				class="mt-form--lg"
				heading="Connect with Spotify">
				Before you can use this service, you'll need to connect your spotify account below.
			</chip-emptyprompt>

			<chip-button
				link="~/login"
				class="mt-form mx-auto">
				Connect
			</chip-button>
		</div>
	</div>
}
else
{

}